.rightBlock{
    position: absolute;
    top: 0px;
    left: 80%;
    background-color: black;
    width: 320px;
    height: 100vh;
    color: white;
    padding-top: 20px;
    .in_block_right{
        height: 450px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .btn_comp{
            width: 233px;
            height: 62px;
            background: #FFFFFF;
            border-radius: 40px;
            border: none;
            cursor: pointer;
        }
    }
}